{% extends 'booking_app/base.html' %}
{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold"
            <tr>
                <td>Rental_Name</td>
                <td>ID</td>
                <td>Checkin</td>
                <td>Checkout</td>
                <td>Previous reservation, ID</td>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.rental.name }}</td>
                    <td>{{ object.pk }}</td>
                    <td>{{ object.checkin|date }}</td>
                    <td>{{ object.checkout|date }}</td>
                    {% if object.previous_reservation_id %}
                    <td>{{ object.previous_reservation_id }}</td>
                    {% else %}
                    <td>"--"</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    {% endblock content %}
